* {
  box-sizing: border-box;
}

body {
  background: black;
}

h1, h2 {
  color: gold;
  font-weight: 700;
}

.container, .game-status {
  display: flex;
  flex: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
}

.container section {
  width: 33.33%;
  border: 1px solid white;
  height: 150px;
}

.player1 {

}

.player2 {

}

h1, span, button {
  margin-top: 25px;
  text-align: center;
}

.game-status {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

span {
  font-weight: 700;
  font-size: 20px;
  width: 100%;
}

.turn-status {
  color: green;
}

.win-status {
  color: white;
}

.settings-container {
  margin-top: 25px;
  width: 100%;
  text-align: center;
}

.player-settings{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.color {
  max-width: 75px;
  flex: 1 1 50px;
  height: 75px;
  border: 1px solid white;
}

#red1, #red2, .red {
  background: url(../img/grogu.jpg) no-repeat;
  background-size: 100% 100%;
}

#orange1, #orange2, .orange {
  background: url(../img/luke.jpg) no-repeat;
  background-size: 100% 100%;
}

#yellow1, #yellow2, .yellow {
  background: url(../img/mando.jpg) no-repeat;
  background-size: 100% 100%;
}

#green1, #green2, .green {
  background: url(../img/r2d2.jpg) no-repeat;
  background-size: 100% 100%;
}

#blue1, #blue2, .blue {
  background: url(../img/vader.jpg) no-repeat;
  background-size: 100% 100%;
}